<ul class="nav navbar-top-links navbar-right">
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <b>{{userName()}}</b> <i class="fa fa-caret-down"></i>
        </a>
        <ul ng-hide="!authorized()" class="dropdown-menu dropdown-user">
            <li>
                <i class="fa fa-user fa-fw"></i> User Profile
            </li>
            <li class="divider"></li>
            <li ng-click="logOut()">
                <i class="fa fa-sign-out fa-fw"></i> Logout
            </li>
        </ul>
        <ul ng-hide="authorized()" class="dropdown-menu dropdown-user">
            <li ng-click="register()">
                <i class="fa fa-sign-out fa-fw"></i> Register
            </li>
            <li class="divider"></li>
            <li ng-click="login()">
                <i class="fa fa-sign-out fa-fw"></i> Login
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
