<div>
    <div>{{raceName}}</div>
    <hr><label>Checkboxes:</label>
    <div class="btn-group" ng-model="button.checkbox" bs-checkbox-group>
        <label class="btn btn-default"><input type="checkbox" value="left"> Left</label>
        <label class="btn btn-default"><input type="checkbox" value="middle"> Middle</label>
        <label class="btn btn-default"><input type="checkbox" value="right"> Right</label>
        <!-- Children get compiled by `bs-checkbox-group` to :
        <label class="btn btn-default"><input type="checkbox" value="left" ng-model="button.checkbox.left" bs-checkbox> Left</label>
        ...
        -->


    </div>

    <!-- Button to trigger a default modal with a scope as an object {title:'', content:'', etc.} -->
    <button type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-scale" data-placement="center" bs-modal="modal">
        Click to toggle modal
        <br>
        <small>(using an object)</small>
    </button>
</div>